<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка доступа - DAG Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body { padding-top: 20px; }
        .navbar-brand { font-weight: bold; }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dag-generator/">
                    <i class="fa fa-cogs"></i> DAG Generator
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav navbar-right">
                    <li><a href="/home">← Назад в Airflow</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-exclamation-triangle"></i> Ошибка доступа
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger">
                            <i class="fa fa-ban"></i> 
                            {{ error_message }}
                        </div>
                        
                        <h4>Необходимые права:</h4>
                        <ul>
                            <li><strong>can_read на DAGs</strong> - для просмотра DAG'ов</li>
                            <li><strong>can_edit на DAGs</strong> - для создания и редактирования DAG'ов</li>
                        </ul>
                        
                        <div class="text-center" style="margin-top: 20px;">
                            <a href="/home" class="btn btn-primary">
                                <i class="fa fa-home"></i> Главная страница Airflow
                            </a>
                            <a href="/admin/user/" class="btn btn-default" target="_blank">
                                <i class="fa fa-user"></i> Управление пользователями
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
